{% extends "layout.html" %}

{% block content %}
<div class='text-slate-400 flex flex-col items-center justify-center mt-10'>
<h2 class='text-3xl mt-10 m-5 font-bold'>Login Form</h2>
<form  method="post" class='space-y-3'>
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded transition duration-200">Register</button>
</form>
<p>Dont have a account? <a class='text-blue-400' href="{%url 'register'%}">Register here</a></p>
</div>
{% endblock %}